/*color palette
rgb(90 191 236)
rgb(137 137 137)*/

*{
    padding: 0;
    margin: 0;

}

body{
      font-family: "Merriweather", serif;
}

header{
    background-image: url(../imgs/pattern.png);
    background-color: #4ea0ff;
    background-repeat: repeat;
    background-size: 350px;
}


header img{
    display: block;
    width: 200px;
    padding-top: 40px;
}

.title p, time{
    color: rgb(137 137 137);
    font-size: 16px;
}

time{
    font-size: 12px;
    padding-top: 0px;
}

.title p > span{
    color:  rgb(90 191 236);
}

figcaption{
    font-size: 10px;
    font-weight: 800;
}


article{
    padding-bottom: 50px;
    padding-top: 50px;
}


ul{
    padding-left: 2rem;

}

table{
    padding-top: 40px;
    padding-bottom: 30px;
}


.theader{
    color: white;
    background-color: hsl(198.27deg 79.12% 51.18%);
}

th{
    text-align: left;
}

.larger-column{
    width: 50%;
    text-align: left;
}

.lightblue-row{
    background-color: rgb(177 229 242);
}