*{
    padding: 0;
    margin: 0;

}

body{
      font-family: "Merriweather", serif;
}

header{
    background-image: url(../imgs/pattern.png);
    background-color: #4ea0ff;
    background-repeat: repeat;
    background-size: 350px;
}


header img{
    display: block;
    width: 200px;
    padding-top: 40px;
}


